/project/
*.onnx
*.pt
*.pth
*.tar
*.pyc
*.engine
.idea/
/export/onnx/
*/__pycache__
augment/__pycache__
dataset/__pycache__
loss/__pycache__
loss/functional/__pycache__
loss/pytorch_iou/__pycache__
loss/pytorch_ssim/__pycache__
loss/__pycache__
loss/functional/__pycache__
loss/pytorch_iou/__pycache__
loss/pytorch_ssim/__pycache__
lr_scheduler/__pycache__
network/__pycache__
trainer/__pycache__
utils/__pycache__
/readme.pdf
/data
/exp/DDP_exp/*
*.tfrecords
/export/
/.vscode
/onnx_output/
/mlruns/
/scripts/
