*.env
/project/
*.onnx
*.pt
*.pth
*.tar
*.pyc
*.engine
.idea/
/export/onnx/
*/__pycache__
lab/augment/__pycache__
dataset/__pycache__
lab/lr_scheduler/__pycache__
lab/network/__pycache__
trainer/__pycache__
lab/utils/__pycache__
/readme.pdf
/data
/exp/DDP_exp/*
*.tfrecords
/export/
/.vscode
/exp/project/
/mlruns/
/onnx_output/
/temp/
/workspace/
/temp.py
